body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rounded-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  font-size: 24px;
  color: #333;
}

.social-links {
  margin: 10px 0;
}

.social-links a {
  display: inline-block;
  margin: 5px;
  padding: 8px 15px;
  background-color: #0073e6;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.social-links a:hover {
  background-color: #005bb5;
}

.couple-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.profile {
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

/* Styles for message.html */
.message-container {
  font-size: 40px;
  font-weight: bold;
  color: red;
}
